/* wp-microsites-admin-styles.css */
body.wp-admin .microsite-admin {
	width:98%;
	font-family:'Lucida Grande',Verdana,Arial,'Bitstream Vera Sans',sans-serif;
	font-size:13px;
}
body.wp-admin .microsite-admin #message {
	width:93%;
}
body.wp-admin .microsite-admin #update-counter,
body.wp-admin .microsite-admin #custom-page-counter {
	display:none;
}
body.wp-admin .microsite-admin #add-new-button {
	width:94%;
	text-align:right;
	margin:-25px 120px 15px 0;
}
body.wp-admin .microsite-admin .page-containers {
	float:left;
	width: 46%;
	min-height:375px;
	display: block;
	border: 1px solid rgb(170, 170, 170);
	margin:0 2% 0 0;
	padding-bottom:15px;
	position:relative;
}
body.wp-admin .microsite-admin .page-containers p.help {
	height:50px;
	margin:15px;
	font-size:0.90em;
}
body.wp-admin .microsite-admin .page-containers .side-title {
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin: 0px;
	padding: 10px 9px;
	cursor:auto;
}
body.wp-admin .microsite-admin .page-containers .ui-sortable-placeholder {
	border:1px dotted rgb(192,192,192);;
	height:36px;
	background: #F9F9F9;
	margin:13px 15px 0 15px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

body.wp-admin .microsite-admin .microsite-page {
	display:block;
	margin:0 15px;
}
body.wp-admin .microsite-admin .microsite-page .edit-fields,
body.wp-admin .microsite-admin .microsite-page .page-title-edit-controls {
	float:left;
}
body.wp-admin .microsite-admin .microsite-page .edit-fields {
	margin-right:5px;
	width:40%;
}
body.wp-admin .microsite-admin .microsite-page .page-title-edit-controls {
	margin-right:90px;
}
body.wp-admin .microsite-admin .microsite-page .page-title-edit-controls a {
	vertical-align:top;
	margin:0 5px 0 0;
	display:block;
	float:left;
	margin-top:-2px;
}
body.wp-admin .microsite-admin .microsite-page .page-title-edit-controls a.cancel {
	height:20px;
	margin-top:-8px;

}
body.wp-admin .microsite-admin .microsite-page .page-title {
	display: block;
	line-height: 20px;
	padding: 7px 0px;
	font-weight:bold;
	margin-right:100px;
}
body.wp-admin .microsite-admin .microsite-page .page-title-edit {
	display:none;
	padding: 7px 0px;
}

body.wp-admin .microsite-admin .microsite-page .page-title-edit input {
	width:99%;
	font-size:0.95em;
	margin:-2px 0 6px;
}

body.wp-admin .microsite-admin .microsite-page-controls {
	padding:0 0.25em;
    margin: 0;
}
body.wp-admin .microsite-admin .microsite-page-control {
	border-left:1px solid black;
	padding:0 0.5em 0 0.75em;
	list-style:none;
	list-style-position: outside;
	display:inline;
}
body.wp-admin .microsite-admin .microsite-page-control.link-0 {
	padding-left:0;
	border-left:none;
}
body.wp-admin .microsite-admin .microsite-page-handle:hover {
	cursor:move;
}
body.wp-admin .microsite-admin .microsite-page-handle {
	background-color:rgb(223, 223, 223);
	background-image:url(/wp-admin/images/gray-grad.png);
	background-repeat:repeat-x;
	padding:0 0 0 10px;
	border: 1px solid #E6E6E6;
	position: relative;
	padding-left: 10px;
	height: auto;
	line-height: 35px;
	text-shadow: 0 1px 0 #FFFFFF;
	font-weight:bold;
	overflow: hidden;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
body.wp-admin .microsite-admin .fixed .microsite-page-handle {
	border: 1px solid gray;
}
body.wp-admin js .microsite-admin .movable .microsite-page-handle {
	cursor: move;
}
body.wp-admin .microsite-admin .microsite-page-bar {
	clear:both;
	line-height:1.5em;
	position:relative;
	margin-top: 13px;
}
body.wp-admin .microsite-admin .microsite-page-bar .page-edit {
	background: url("../images/arrows.png") no-repeat scroll 0 9px;
	position: absolute;
	right: -20px;
	top: 0;
	display: block;
	width: 23px;
	height: 36px;
	overflow: hidden;
	text-indent:999em;
	border-bottom: 1px solid #eee;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
body.wp-admin .microsite-admin .microsite-page-bar .page-controls {
	-webkit-background-origin: padding-box;
	background-attachment: scroll;
	background-image: none;
	border-width:0;
	display: block;
	font-size: 11px;
	height: 35px;
	margin:0;
	outline-style: none;
	padding:0;
	position: absolute;
	right: 20px;
	top: -1px;
	width: 100px;
	text-align:right;
}
body.wp-admin .microsite-admin .microsite-page-bar .page-controls .page-title {
	padding: 7px 0;
	line-height: 20px;
	display:block;
	margin-right:13em;
}
body.wp-admin .microsite-admin .microsite-page-bar .page-controls .user-type {
	text-transform: uppercase;
	font-size: 11px;
	color: #999999;
	padding-right: 10px;
}
body.wp-admin .microsite-admin .microsite-page-bar .page-controls { font-size: 11px; position: absolute; right: 20px; top: -1px; }
body.wp-admin .microsite-admin .microsite-page-bar .page-controls a { text-decoration: none; }
body.wp-admin .microsite-admin .microsite-page-bar .page-controls a:hover { cursor: pointer; }
body.wp-admin .microsite-admin .microsite-page .microsite-page-controls {
	display:none;
}
body.wp-admin .microsite-admin .microsite-page.expanded .microsite-page-controls{
	display:block;
	background: #F9F9F9;
	display:block;
	padding: 10px 0 10px 10px;
	border: solid #E6E6E6;
	border-width: 0 1px 1px 1px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
}

body.wp-admin .microsite-admin .microsite-page-configure {
	display:none;
	padding-top:5px;
}
body.wp-admin .microsite-admin .microsite-page-configure input {
	margin:5px 3px 0 3px;
}
body.wp-admin .microsite-admin .microsite-page-configure label {
    font-weight:bold;
}

/* Reorder Page */

body.wp-admin #reorder-posts-metabox {
	padding-bottom:5px;
}
body.wp-admin #reorder-posts-metabox .help-text {
	font-size:10pt;
	padding:10px 15px 0 15px;
}
body.wp-admin #reorder-posts-metabox #posts-to-reorder .reorder-post-bar {
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color:rgb(223, 223, 223);
	background-image:url(/wp-admin/images/gray-grad.png);
	background-repeat:repeat-x;
	border: 1px solid #E6E6E6;
	border-radius: 6px;
	clear:both;
	cursor:move;
	font-weight:normal;
	height: 35px;
	line-height: 35px;
	margin:15px;
	overflow: hidden;
	padding:0 0 0 10px;
	position: relative;
	text-shadow: 0 1px 0 #FFFFFF;
}
body.wp-admin #reorder-posts-metabox #posts-to-reorder .ui-sortable-placeholder {
	border:1px dotted rgb(192,192,192);;
	height:36px;
	background: #F9F9F9;
	margin:13px 15px 0 15px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
body.wp-admin #reorder-posts-metabox .message {
	margin:25px;
	padding:25px;
	background-color:lightYellow;
	border: 1px solid #E6DB55;
}
body.wp-admin #reorder-posts-metabox .reorder-post-bar a {
	color:#333;
	text-decoration:none;
}
body.wp-admin #reorder-posts-metabox .reorder-post-bar a:hover {
	text-decoration:underline;
}
body.wp-admin .microsite-admin .microsite-post .button.disabled {
	color: #d3d3d3;
	font-weight: normal;
	cursor: default;
}
body.wp-admin .microsite-admin .microsite-post .child-post-count {
	margin-right:1em;
	color: #999999;
}
body.wp-admin .microsite-admin #add-custom-post.button-primary.disabled {
	color:#d3d3d3;
	background:#3a718b;
	cursor: default;
}
body.wp-admin .hidden-callout {
	color: red;
	font-size:0.9em;
	font-weight: bold;
}

body.wp-admin #reorder-posts-metabox #posts-to-reorder .reorder-post-bar.not-visible {
	background: none;
}

body.wp-admin .visibility-select {
	margin-right: 10px;
}

body.microsite-reorder-child #posts-to-reorder .reorder-post-bar .thumbnail {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
body.microsite-reorder-child #posts-to-reorder .reorder-post-bar .thumbnail img {
	vertical-align: middle;
}