body.wp-admin .postbox .fields-wrapper .entry-container fieldset .label-container.position-above {
    width: 100%;
}

/**
 * Ensure that the positioning of labels for URL fields is correct when position is set to 'left'
 */
.field-row.url .entry-container {
    width: auto;
}

/* sr-modules/fields/admin-styles.css */
.field-row.radio .entry-feature-inner label {
	display: block;
	margin-bottom: .5em;
}
.field-list .has-controls {
    position: relative;
}

body.wp-admin .inside {
	padding:0.25em;
}
body.wp-admin .postbox .fields-wrapper.postbox {
	margin-bottom:0;
}
body.wp-admin .postbox .fields-wrapper ul.field-list {
	margin:12px 18px 27px 18px;
}
body.wp-admin .postbox .fields-wrapper.context-side ul.field-list {
	margin:6px;
}
body.wp-admin .postbox .fields-wrapper ul.field-list li {
	white-space:nowrap;  /* TODO: Figure out why this is needed. */
}
body.wp-admin .postbox .fields-wrapper .field-row {
	margin-bottom:0;
	list-style-type:none;
	width: 100%; /* added */
}
body.wp-admin .postbox .fields-wrapper .label-container {
	display:block;
	float:left;
	position:relative;
	/* width:140px; */
}
body.wp-admin .postbox .fields-wrapper .label-container.position-left {
	text-align: right;
	margin: 0 5px 5px 0;
	float: left;
	width: 140px;
	font-size:12px;
}
body.wp-admin .postbox .fields-wrapper .label-container.position-above {
	display:block;
	text-align: left;
	margin: 0 5px 5px 0;
	font-size:12px;
	float:none;
}
body.wp-admin .postbox .fields-wrapper .message-container {
	color:red;
	font-size:1.5em;
}
body.wp-admin .postbox .fields-wrapper .entry-container {
	display:block;
	float:left;
	position:relative;
	margin-bottom: 0.5em;
}
body.wp-admin .postbox .fields-wrapper.has-required .entry-container {
	margin-left:4px;
	padding-right:4px;
}
body.wp-admin .postbox .fields-wrapper.has-required .entry-container .required {
	border:1px solid #ff6666;
}
body.wp-admin .postbox .fields-wrapper .entry-container li {
	font-size:11px;
	list-style: none;
	padding: 0;
	margin: 0;
}
body.wp-admin .postbox .fields-wrapper .clear {
	clear:both;
}

body.wp-admin .postbox .fields-wrapper .ui-datepicker-trigger {
	margin:0 0 0 3px;
	vertical-align: -3px;
}
body.wp-admin .postbox .fields-wrapper .ui-datepicker-prev:hover,
body.wp-admin .postbox .fields-wrapper .ui-datepicker-next:hover,
body.wp-admin .postbox .fields-wrapper .ui-datepicker-trigger:hover {
	cursor:pointer;
}
/*
body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy {
	overflow:auto;
	height:200px;
	width:250px;
	border:1px solid #d7d7d7;
	padding:5px 10px;
}

body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy.scrollupdown {
	overflow-x:scroll;
}
body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy.scrollleftright {
	overflow-y:scroll;
}
body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy.noscrollupdown {
	overflow-y:hidden;
}
body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy.noscrollleftright {
	overflow-x:hidden;
}

body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy .required-callout {
	float:left;
	margin-left:-8px;
}
*/
body.wp-admin .postbox .fields-wrapper .entry-container.multiple input {
	display:block;

}

body.wp-admin .postbox .fields-wrapper .entry-container.multiple li.child {
	display:block;
	float:none;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple .controls-container.multiple {
	float:left;
	margin-left:0;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple li.child .helptext-container {
	margin-bottom:0;
}
/*
body.wp-admin .postbox .fields-wrapper .entry-container.multiple .controls-container.multiple li {
	display:inline;
	margin-right:1em;
}

body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple {
	margin-left:0;
	border: 1px solid yellow;
}

body.wp-admin .postbox .fields-wrapper.context-side .helptext-container,
body.wp-admin .postbox .fields-wrapper.context-side .label-container label {
	font-size:11px;
	font-style:italic;
}
body.wp-admin .postbox .fields-wrapper .entry-container.label-above input[type=file] {
	width:238px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.file .post-field-file-wrapper .post-field-controls {
	float:left;
}
body.wp-admin .postbox .fields-wrapper .entry-container textarea {
	width:100%;
	height:150px;
}
body.wp-admin .postbox .fields-wrapper.context-normal .entry-container.label-above textarea,
body.wp-admin .postbox .fields-wrapper.context-normal .entry-container.label-above input {
	width:100%;
	margin-bottom: 9px;
}

/*
body.wp-admin .postbox .fields-wrapper .entry-container.file,
body.wp-admin .postbox .fields-wrapper .entry-container.file .post-field-file-wrapper {
	width:85%;
}
*/
body.wp-admin .postbox .fields-wrapper .entry-container.file a {
	float:left;
	margin-right:0.5em;

}
body.wp-admin .postbox .fields-wrapper .entry-container.file .post-field-controls {
	float:left;
}
body.wp-admin .postbox .fields-wrapper .entry-container.file a input[type=text] {
	text-decoration:underline;
	cursor:pointer;
}
body.wp-admin .postbox .fields-wrapper .-container .post-field-image {
	display:block;
}
body.wp-admin .postbox .fields-wrapper.context-normal .entry-container li input[type=radio],
body.wp-admin .postbox .fields-wrapper.context-side .entry-container li input[type=radio]  {
	width:15px;
	vertical-align:0; /* "0" vs. "baseline" */
	margin-left:6px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.radio ul {
	margin: 5px 0;
}
/*
body.wp-admin .postbox .fields-wrapper .helptext-container {
	display:block;
	white-space:normal;
}
 */
body.wp-admin .postbox .fields-wrapper .helptext-container {
	font-size:11px;
	font-style:italic;
	margin:0 0 0.5em 0;
	width:95%;
	display:block;
	white-space:normal;
}
body.wp-admin .postbox .fields-wrapper .helptext-container.top { /* message on above input fields */
	margin: 5px 0 2px 0;
}
body.wp-admin .postbox .fields-wrapper.context-normal .helptext-container {
	width:100%;
}
body.wp-admin .postbox .fields-wrapper .label-container label {
	vertical-align: -3px;
	white-space:normal;
	font-weight: bold;
}
body.wp-admin .postbox .fields-wrapper .label-container label p {
	margin:0;
}
body.wp-admin .postbox .fields-wrapper .helptext-container strong,
body.wp-admin .postbox .fields-wrapper .label-container label strong {
	margin:0;
	font-style:normal;
}
/* body.wp-admin .postbox .fields-wrapper .label-container label strong {*/
/*	display:block;  Now not sure why this is here... */
/*}*/
body.wp-admin .postbox .fields-wrapper .controls-container ul {
	/*float:right;*/
}
body.wp-admin .postbox .fields-wrapper .child {
	float:left;
}

body.wp-admin .postbox .fields-wrapper .entry-container.image .post-field-file-wrapper  {
	margin:6px 0 5px 0;
	display:block;
	overflow: auto;   /* To clear floats: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}
body.wp-admin .postbox .fields-wrapper .entry-container.image .post-field-file-wrapper .post-field-controls  {
	margin:1px 0 0 12px;
	vertical-align:baseline;
	float:left;
}
body.wp-admin .postbox .fields-wrapper .entry-container.image .post-field-file-wrapper img {
	float:left;
	border:1px solid #999999;
}



body.wp-admin .postbox .fields-wrapper .entry-container.image .post-field-file-wrapper.unassigned {
	display:none;
}

body.wp-admin .postbox .fields-wrapper.has-required .entry-container .required-callout {
	margin-left:-10px;
	margin-top:6px;
	float:left;
}

body.wp-admin .postbox .fields-wrapper .post-field-meta {
	display:none;
}

/* Dimensions */
body.wp-admin .postbox .fields-wrapper .width25px {width:25px !important;}
body.wp-admin .postbox .fields-wrapper .width50px {width:50px !important;}
body.wp-admin .postbox .fields-wrapper .width60px {width:60px !important;}
body.wp-admin .postbox .fields-wrapper .width75px {width:75px !important;}
body.wp-admin .postbox .fields-wrapper .width100px {width:100px !important;}
body.wp-admin .postbox .fields-wrapper .width125px {width:125px !important;}
body.wp-admin .postbox .fields-wrapper .width150px {width:150px !important;}
body.wp-admin .postbox .fields-wrapper .width200px {width:200px !important;}
body.wp-admin .postbox .fields-wrapper .width225px {width:225px !important;}
body.wp-admin .postbox .fields-wrapper .width250px {width:250px !important;}
body.wp-admin .postbox .fields-wrapper .width300px {width:300px !important;}
body.wp-admin .postbox .fields-wrapper .width350px {width:350px !important;}
body.wp-admin .postbox .fields-wrapper .width400px {width:400px !important;}

body.wp-admin .postbox .fields-wrapper .height25px {height:25px !important;}
body.wp-admin .postbox .fields-wrapper .height50px {height:50px !important;}
body.wp-admin .postbox .fields-wrapper .height75px {height:75px !important;}
body.wp-admin .postbox .fields-wrapper .height100px {height:100px !important;}
body.wp-admin .postbox .fields-wrapper .height125px {height:125px !important;}
body.wp-admin .postbox .fields-wrapper .height150px {height:150px !important;}
body.wp-admin .postbox .fields-wrapper .height175px {height:175px !important;}
body.wp-admin .postbox .fields-wrapper .height200px {height:200px !important;}
body.wp-admin .postbox .fields-wrapper .height225px {height:225px !important;}
body.wp-admin .postbox .fields-wrapper .height250px {height:250px !important;}
body.wp-admin .postbox .fields-wrapper .height300px {height:300px !important;}
body.wp-admin .postbox .fields-wrapper .height350px {height:350px !important;}
body.wp-admin .postbox .fields-wrapper .height400px {height:400px !important;}

body.wp-admin .postbox .fields-wrapper .margintop3px {margin-top:3px !important;}
body.wp-admin .postbox .fields-wrapper .margintop6px {margin-top:6px !important;}
body.wp-admin .postbox .fields-wrapper .margintop9px {margin-top:9px !important;}
body.wp-admin .postbox .fields-wrapper .margintop12px {margin-top:12px !important;}
body.wp-admin .postbox .fields-wrapper .margintop15px {margin-top:15px !important;}

body.wp-admin .postbox .fields-wrapper .marginright3px {margin-right:3px !important;}

/* Fix the Resize Handle on Rich Text Boxes not to be 22 pixels below where it should be. */
body.wp-admin #post-body .postbox .fields-wrapper #content_parent .mceStatusbar #content_resize {
	top:0;
}

/* IE 7 Only */
/*
body.wp-admin .postbox .fields-wrapper .entry-container input {
	margin-left:-6px;
}
body.wp-admin .postbox .fields-wrapper .entry-container .field-watermark {
	margin:-2px 0 0 3px;
}
*/

/*----- Modified by Seieun of Great Jakes ------*/

body.wp-admin .postbox .fields-wrapper.context-normal .entry-container li input[type=radio],
body.wp-admin .postbox .fields-wrapper.context-side .entry-container li input[type=radio]  {
	width:15px;
	vertical-align:middle; /* "0" vs. "baseline" */
	margin-left:6px;
}
body.wp-admin .postbox .fields-wrapper.context-normal .entry-container li, body.wp-admin .postbox .fields-wrapper.context-side .entry-container li {
	margin: 0;
}

/*-- NEW CLASSES ADDED - 051011 ------------------------------------------------------------------------------------------------------------*/

body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li {
	margin: 0;
	display: block;
}

body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.add-link {
	padding: 4px 10px 4px 10px;
	border: 1px solid #bbb;
	color:#464646;
	background-color:#ebebe9;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	display: block;
	margin: 1px 0 22px 0;
}
body.wp-admin .article-doc-weblink-metabox-metabox .entry-container.multiple.label-none .controls-container.multiple li a.add-link {
	padding: 4px 10px 4px 10px;
	border: 1px solid #bbb;
	color:#464646;
	background-color:#ebebe9;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	display: block;
	margin: 1px 0 22px 135px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.add-link:hover,
body.wp-admin .article-doc-weblink-metabox-metabox .entry-container.multiple.label-none .controls-container.multiple li a.add-link:hover {
	color:#000;
	border-color:#a59f8b;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.indent-link {
	background:url(../images/indent-arrow.gif) no-repeat left top;
	padding: 4px 10px 4px 10px;
	border: 1px solid #bbb;
	color:#464646;
	background-color:red;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.indent-link:hover {
	color:#000;
	border-color:#a59f8b;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	}


/*-- Tooltips -- */
body.wp-admin .infobox-container {
}
body.wp-admin .infobox-container.above-input {
	float: left;
	top: -3px;
	margin-left: 2px;
	position: relative;
}
body.wp-admin .infobox-container img.info-icon {
	margin: 2px 0 0 3px;
	vertical-align:top;
}
body.wp-admin .infobox-container.above-input img.info-icon {
	margin-top: 0;
}
body.wp-admin .infobox-container a.tt {
    position:relative;
    z-index:24;
    text-decoration:none;
    color:#000000;
	font:normal 11px/15px arial;
}
body.wp-admin .infobox-container a.tt span { display: none;}
/*background:; ie hack, something must be changed in a for ie to execute it*/
body.wp-admin .infobox-container a.tt:hover { z-index:25; color: #000000; background:;}
body.wp-admin .infobox-container a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px;
	left:0;
	padding: 15px 0 0 0;
	width:160px;
	color: #000000;
    text-align: left;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
    white-space: normal;
	cursor:default;
}
body.wp-admin .infobox-container a.tt:hover span.top {
	display: block;
	padding: 30px 0 0 0;
    background: url(../images/infobox.gif) no-repeat top;
}
body.wp-admin .infobox-container a.tt:hover span.middle { /* different middle bg for stretch */
	display: block;
	padding: 2px 0 0 0;
	background: url(../images/infobox-filler.gif) repeat bottom;
}
body.wp-admin .infobox-container a.tt:hover span.text {
	display: block;
	width: 140px;
	margin: 0 20px 0 13px;
}
body.wp-admin .infobox-container a.tt:hover span.bottom {
	display: block;
	padding:4px 0 10px 0;
	color: #548912;
    background: url(../images/infobox.gif) no-repeat bottom;
}

/*--------- Indentable fields ------------*/

body.wp-admin .postbox .fields-wrapper #field-row-indentable {
	float: left;
	width: 100%;
}
body.wp-admin .postbox .fields-wrapper #field-column {
	margin-right: 110px; /*Set left margin to LeftColumnWidth*/
}
body.wp-admin .postbox .fields-wrapper #btn-column {
	float: right;
	width: 100px; /*Width of left column*/
	margin-left: -100%;
}
body.wp-admin .postbox .fields-wrapper .innertube {
	margin: 0; /*Margins for inner DIV inside each column (to provide padding)*/
}
body.wp-admin .postbox .fields-wrapper .innertube.indent {
	margin-left: 15px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.link-indent {
	background:url(../images/indent-arrow.gif) no-repeat 6px 8px;
	padding: 4px 10px 4px 15px;
	border: 1px solid #bbb;
	color:#464646;
	background-color:#ebebe9;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	display: block;
	width: 70px;
	text-align: center;
	margin: 0;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.link-indent.undo {
	background:url(../images/outdent-arrow.gif) no-repeat 6px 7px;
	background-color:#ebebe9;
}
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.link-indent:hover,
body.wp-admin .postbox .fields-wrapper .entry-container.multiple.label-above .controls-container.multiple li a.link-indent undo:hover {
	color:#000;
	border-color:#a59f8b;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	}
/*
body.wp-admin .postbox .fields-wrapper .entry-container.taxonomy.customheight {
	height:auto;
}
*/

body.wp-admin .postbox .fields-wrapper .entry-container.position-left.file input[type=file]{ /* photo & vcard input fields */
	float: left;
}
body.wp-admin .postbox .fields-wrapper .border-gray {
	border:1px solid #d7d7d7;
	margin: 0;
	display:block;
	float:left;
	position:relative;
	}
body.wp-admin .postbox .fields-wrapper .border-gray ul {
	margin: 10px 25px 10px 10px;
	list-style: none;
	}

body.wp-admin .postbox .fields-wrapper .required-callout {
	color:#ff0000;
	font-weight:bold;
	font-size:1.25em;
	vertical-align:middle;
}
body.wp-admin .postbox .fields-wrapper .help {
	margin:1em;
	text-align:left;
}
body.wp-admin .postbox .fields-wrapper .entry-container input.validation-fail {
	border:1px solid #ff0000;
	background-color:#ffe1e1;
}
body.wp-admin .postbox .fields-wrapper .message.error {
	background:url(../images/alert-icon.gif) 0 0 no-repeat;
	border: 0;
	color: #ff0000;
	display: block;
	font: 11px/15px arial;
	margin: 4px 0 4px 0;
	padding: 0 0 0 18px;
}

body.wp-admin .postbox .fields-wrapper .form-error-container {
	display: block;
	margin: 0 0 0 153px;
}
body.wp-admin .postbox .fields-wrapper .form-error-container .heading {
	font: bold 15px/18px arial;
	color: #ff0000;
	display: block;
	margin-top: 5px;
}
body.wp-admin .postbox .fields-wrapper .form-error-container .text {
	font: 11px/15px arial;
	color: #ff0000;
}
body.wp-admin .postbox .fields-wrapper .label-container.label-above,
body.wp-admin .postbox .fields-wrapper .entry-container.label-above {
	float:none;
	width:auto;
	margin: 6px 0 0 0;
}
body.wp-admin .postbox .fields-wrapper .label-container.label-above label {
	float: left;
	margin: 0;
}

body.wp-admin .postbox .fields-wrapper.context-normal .helptext-container.floatleft { /* message on above input fields */
	margin: 2px 0 0 4px;
	float: left;
	display: block;
	width: auto;
}

body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .entry-feature {
	display:block;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating {
	margin-bottom: 1.5em;
}

.mceIframeContainer {
    background: white;
}
body.wp-admin .postbox .fields-wrapper ul.field-list li.field-row.cannot-view {
	display:none;
}

.field-row input.placeholder {
	color: #a1a1a1;
}

/*
 * Tooltip Styles
 */
.srTooltip, .srTooltip .arrow:after {
	background: #d1e5fd;
	border: 1px solid #90b6e5;
}

.srTooltip {
	margin-top: -1px;
	margin-left: 117px;
	padding: 17px 17px 19px 17px;
	color: #000;
	border-radius: 0px;
	text-align: left;
	font-stretch: condensed;
	text-decoration: none;
	/*-shadow: 0 0 7px black;*/
	width: 180px;
}
.srTooltip .arrow {
	/*width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
	border: 1px solid #000;*/
	display: none;
}
.srTooltip .arrow:after {
	/*content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	-webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
	-moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
	box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);*/
	display: none;
}
.srTooltip p {
	margin: 0;
	padding: 0;
	font: normal 12px arial !important;
}

/* Fix for white background on checkbox containers */
li.checkbox {
	background: transparent;
}

/* Align Infobox */
.infobox-container {
	float: right;
	margin: 3px 0 0 5px;
}

/**
 * Select2
 */
.select2-container {
    min-width: 250px;
}
.select2-results .select2-result.select2-disabled {
    background: transparent;
}
.select2-disabled .select2-result-label {
    color: #bababa;
}