/* TODO: Replace this visibility:hidden with a more robust solution */
body.wp-admin .postbox .fields-wrapper .entry-container fieldset {
	border: 1px solid #dfdfdf;
	margin-bottom: 1em;
	padding: 1em;
}
body.wp-admin .postbox .fields-wrapper .entry-container fieldset .label-container {
	width:60px;
}
