body.wp-admin .postbox .fields-wrapper .uploaded-file a input {
	text-decoration: underline;
}
body.wp-admin .field-row .entry-feature-inner img.spinner {
	display:inline;
}
body.wp-admin .field-row .entry-feature-inner img.spinner.hidden {
	display: none;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .has-controls .entry-feature.hidden {
	display:none;
}

/* File drag-n-drop/drop-zone styling */
body.js-supports-files-drag-drop .field-row.file .entry-feature-inner input[type="file"] {
	display: block;
	width: 299px;
	height: 64px;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
}

div.js-file-upload-faux-dropzone {
	display: none;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner div.js-file-upload-faux-dropzone {
	display: block;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 299px;
	height: 64px;
	background: #fff url(../images/file_upload_faux_dropzone.png) no-repeat center center;
	overflow: hidden;
	border: 2px dotted #c2c2c2;
	cursor: pointer;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner.has-uploaded-file div.js-file-upload-faux-dropzone {
	display: none;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner input[type="file"] {
	float: none;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner .error.message {
	padding: 0px;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner .infobox-container {
	position: absolute;
	left: 305px;
	top: 0px;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner .spinner {
	position: absolute;
	left: 275px;
	top: 0px;
	z-index: 20;
}

body.js-supports-files-drag-drop .field-row.file .entry-feature-inner.has-uploaded-file .infobox-container {
	left: 0px;
	position: relative;
}