body.wp-admin .postbox .fields-wrapper .form-select-form {
	margin-top: 15px;
}

body.wp-admin .postbox .fields-wrapper .form-select-options {
    position: absolute;
    z-index: 100;
    border: 1px solid #dedede;
    margin-top: -1px;
}

body.wp-admin .postbox .fields-wrapper .form-select-options .inset {
    display: block;
    float: left;
}

.form-select-form .entry-container {
	width: auto;
}

/* Example CSS: General Sidebar Form Select
#sidebar-dropdown-entry .form-select-options {
    width: 550px;
    height: 150px;
    background: url('../images/unselected.jpg');
}

#sidebar-dropdown-entry .form-select-options .inset {
    width: 110px;
    height: 150px;
}

#sidebar-dropdown-entry .form-select-options div.no_sidebar .active,
#sidebar-dropdown-entry .form-select-options div.no_sidebar .current {
    background: url('../images/selected.jpg');
}
#sidebar-dropdown-entry .form-select-options div.photo_highlight_box .active,
#sidebar-dropdown-entry .form-select-options div.photo_highlight_box .current {
    background: url('../images/selected.jpg') -110px 0;
}
#sidebar-dropdown-entry .form-select-options div.text_highlight_box .active,
#sidebar-dropdown-entry .form-select-options div.text_highlight_box .current {
    background: url('../images/selected.jpg') -220px 0;
}
#sidebar-dropdown-entry .form-select-options div.pullquote_box .active,
#sidebar-dropdown-entry .form-select-options div.pullquote_box .current {
    background: url('../images/selected.jpg') -330px 0;
}
#sidebar-dropdown-entry .form-select-options div.multiple_photos .active,
#sidebar-dropdown-entry .form-select-options div.multiple_photos .current {
    background: url('../images/selected.jpg') -440px 0;
}
*/