body.wp-admin .postbox .fields-wrapper .uploaded-image img {
  float: left;
}
body.wp-admin .postbox .fields-wrapper .uploaded-image a {
  float: left;
  margin: 10px 0 0 10px;
}
body.wp-admin .crop-buttons {
  float: right;
  text-align: right;
}
body.wp-admin .crop-buttons .button {
  margin-right:0.75em;
}
body.wp-admin .select-properties {
  float: left;
}
body.wp-admin .select-properties input {
  width: 50px;
  border: 1px solid #ccc;
  text-align: right;
}

#colorbox .help {
	font-size:1.15em;
}

#cboxLoadedContent{
	margin-bottom:10px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .entry-feature.hidden {
	display:none;
}
