.ui-nestedSortable-error { background:#fbe3e4 !important; color:#8a1f11 !important; }

.indentable-repeating.entry-container { width: 100%; }
.postbox .fields-wrapper .field-row.indentable_repeating .label-container label {
    white-space: nowrap;
}

.indentable-repeating.entry-container { width: 100%; }
.indentable-repeating .entry-feature.feature { width: 88% !important; }

.indentable-repeating ol.sortable { margin-left: 0px; }
.indentable-repeating ol.sortable li{ margin : 1px; padding: 0 15px 0 0; width : 100%; border-top : none; position : relative; }
.indentable-repeating ol.sortable ol { margin-left: 25px; }

.indentable-repeating ol.sortable .entry-feature-inner { height: 24px; }
.indentable-repeating ol.sortable .entry-feature-inner * { display: block; float: left; }

.indentable-repeating ol.sortable .entry-feature-inner span { visibility: hidden; }

.indentable-repeating ol.sortable .entry-feature-inner span.close { margin-left: 2px; margin-top: 2px; height: 22px; width: 22px; background: #EBEBE9 url('../images/remove-x.gif') center no-repeat; cursor: pointer; }

.indentable-repeating ol.sortable .entry-feature-inner span.handle { width : 24px; height : 24px; cursor: move; background: url("../images/drag-drop-icon.jpg") center no-repeat; }

.indentable-repeating ol.sortable .entry-feature-inner input { width: 400px; }

.indentable-repeating ol.sortable .entry-feature-inner.hover input { margin-right: 0 !important; border-color: #cccccc !important; }

.indentable-repeating ol.sortable .entry-feature-inner.hover span { visibility: visible; }

.indentable-repeating ol.sortable .entry-feature-inner.hover input,
.indentable-repeating ol.sortable ol.children .entry-feature-inner input { border-color: #fe7800 !important; }