ul.sortable {
	width : 320px;
}
#post-body ul.sortable li{
	margin : 0;
	padding : 5px;
	width : 100%;
	background : #fff;
	border : 1px solid #ccc;
	border-top : none;
	cursor : pointer;
	position : relative;
	overflow : hidden;
}
#post-body ul.sortable li:first-child{
	border-top: 1px solid #ccc;
}
ul.sortable li span {
	background : #DFDFDF;
	position : absolute;
	top : 0;
	right : 0;
	padding : 5px;
}
