.field-row.repeating fieldset { margin: 0 10px 0 0; }
.field-row.repeating .item-controls { margin: 0 0 10px 0; }
.field-row.repeating ul.fieldset { width: 100% }
.field-row.repeating .entry-feature-inner fieldset {
	float: left;
	width: 75%;
}
.field-row.repeating .entry-container {
	width: 100%;
}

/* TODO: Replace this visibility:hidden with a more robust solution */
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list.indentable {
	visibility: hidden;
}
/* TODO: Replace this visibility:visible with a more robust solution */
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .template {
	display:none;
	visibility:visible;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .has-controls .entry-feature {
	display:inline;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .field-controls {
	display:inline-block;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .entry-feature-inner.indent-level-1 {
	margin-left: 24px;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .entry-feature-list .entry-feature-inner.has-controls .entry-feature-fieldset {
	float:left;
}
body.wp-admin .postbox .fields-wrapper .entry-container.repeating .contains-fieldsets .entry-feature-list .entry-feature-inner.has-controls .field-control-list {
	float:left;
	margin-top:0.25em;
}