p, h3, ul, li {
	font-family: Arial;
}

h3 {
	font-size: 18px;
}

.wp_themeSkin.mceEditor span.mce_fullscreen {
	background: url('../images/toggle-but.gif') no-repeat 20px 20px;
	background-position: -3px -2px;
}

.wp_themeSkin.mceEditor .mceButtonEnabled:hover span.mce_fullscreen,
.wp_themeSkin .mceButtonActive span.mce_fullscreen,
.wp_themeSkin.mceEditor #mce_fullscreen_tbl span.mce_fullscreen {
	background: url('../images/toggle-but-pressed.gif') no-repeat 20px 20px;
	background-position: -3px -2px;
}